<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous"
     href="#" [routerLink]="['/posts']"
     [queryParams]="{
      page: postsResponse.currentPageNo - 1,
      query: query}"
     [ngClass]="{'is-disabled': !postsResponse.hasPreviousPage}"
  >Newer Posts</a>

  <a href="#" class="pagination-next"
     [routerLink]="['/posts']" [queryParams]="{
      page: postsResponse.currentPageNo + 1 ,
      query: query}"
     [ngClass]="{'is-disabled': !postsResponse.hasNextPage}"
  >Older Posts</a>

</nav>
