<header>
  <nav class="navbar is-primary is-fixed-top" role="navigation"
       aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
              <span class="is-size-3 has-text-weight-bold">Bootiful Blog</span>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
         data-target="navbarMain">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" routerLink="/login"
               *ngIf="!isLoggedIn()">
              Login
            </a>
            <a class="button is-primary" href="#" routerLink="/posts/new"
               *ngIf="isLoggedIn()">
              New Post
            </a>
            <a class="button is-primary" href="#" (click)="logout()"
               *ngIf="isLoggedIn()">
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
