<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{guest-layout}">
<head>
  <title>Login</title>
</head>
<body>
<div layout:fragment="content">
  <div class="fixed-grid has-3-cols pt-3">
    <div class="grid">
      <div class="cell is-col-start-2">
        <form class="box " id="loginForm" method="post" th:action="@{/login}">
          <div class="field">
            <label for="username" class="label">Email</label>
            <div class="control">
              <input class="input" type="email" id="username" name="username"
              value="admin@gmail.com">
            </div>
          </div>
          <div class="field">
            <label for="password" class="label">Password</label>
            <div class="control">
              <input class="input" type="password" id="password" name="password"
              value="admin">
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary">Login</button>
            </div>
          </div>
          <div th:if="${param.error}"
               class="has-text-danger has-text-centered has-text-weight-bold">
            <div>Invalid Email and Password</div>
          </div>
          <div th:if="${param.logout}"
               class="has-text-success has-text-centered has-text-weight-bold">
            <div>You have been logged out</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
